#root {
    width: 100%;
}

.app {
    display: flex;
    min-height: 100vh;
}

.nav-bar {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    padding: 10px;
    cursor: pointer;
}

.main-content {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #f7f7f7;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.content-panel {
    padding: 20px;
    flex-grow: 1;
}
