#root {
    width: 100%;
}

body {
    background-color: rgb(95, 29, 95);
}

.card {
    background-color: teal;
}
.hero {
    background-image: url('hero.jpg');
    height:500px;
    max-height: 30vh;
    background-size:cover;
    background-position: center;
    display: grid;
    border-radius: 2rem;
    margin: 1rem
}

.hero > h1 {
    align-self: end;
    text-align: center;
    color: white;
}

.app {
    display: flex;
    min-height: 100vh;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
}

.main-content {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
}

.content-panel {
    padding: 20px;
    flex-grow: 1;
}

.active {
    color: red;
}
